.navbar{
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.brand, .nav-Link{
    text-transform: uppercase;
    color: grey;
    margin-right: auto;
}

.topNav{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topNav .nav-Link{
    text-decoration: none;
    padding-left: 20px;
}
